{% extends 'base.html' %}

{% block content %}
<div class="container">
  <h1>Place Order</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.item }}
    <div class="mb-3">
      {{ form.quantity.label_tag }}
      {{ form.quantity }}
      {% if form.quantity.errors %}
        <div class="text-danger">{{ form.quantity.errors }}</div>
      {% endif %}
    </div>
    <button class="btn btn-primary" type="submit">Place Order</button>
  </form>
</div>
{% endblock %}
