{% extends 'dashboard/admin_dashboard.html' %}

{% block admin_content %}
<h1 class="display-5 fw-bold mb-5">Manage Orders</h1>
<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer</th>
            <th>Total</th>
            <th>Status</th>
            <th>Payment</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>#{{ order.id }}</td>
                <td>{{ order.first_name }} {{ order.last_name }}</td>
                <td>GH₵{{ order.total_amount }}</td>
                <td>{{ order.get_status_display }}</td>
                <td>{{ order.get_payment_status_display }}</td>
                <td>{{ order.created_at|date:"M d, Y" }}</td>
                <td>
                    <a href="{% url 'dashboard:order_detail' order.pk %}" class="btn btn-sm btn-secondary">View</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock admin_content %}
