name: Deploy to DigitalOcean

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd ~/sellux_plaster
            git stash
            git pull origin main
            git stash pop || true
            source venv/bin/activate
            python manage.py migrate
            python manage.py collectstatic --noinput
            sudo systemctl restart gunicorn
